@inherits RSHome.Services.RSHomeTemplateBase<RSHome.Endpoints.IndexViewModel>
@{
    Layout = "_layout";
    ViewBag.Title = "Home";
    ViewBag.Theme = Model.Theme;
    ViewBag.Authenticated = Model.Authenticated;
}

<article>
  <h1>Welcome</h1>

  <p>If you are not me, then I'm sorry, there is nothing here for you.
    This is just a utility website for myself.</p>

  <p>Thanks for visiting, have a nice day!</p>
  <p>- Robert</p>
</article>
<article>
  <h1>Atqui perspicuum est hominem e corpore animoque constare</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At modo
    dixeras nihil in istis rebus esse, quod interesset. Peccata paria. At
    quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia?
    Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Nemo
    nostrum istius generis asotos iucunde putat vivere. Duo Reges:
    constructio interrete. </p>

  <blockquote>
    Ipse negat, ut ante dixi, luxuriosorum vitam reprehendendam, nisi plane fatui sint, id est nisi aut
    cupiant aut metuant.
  </blockquote>

  <p>Quorum sine causa fieri nihil putandum est. Praeteritis, inquit, gaudeo.
    Graccho, eius fere, aequalí? Sed ad haec, nisi molestum est, habeo quae
    velim. Nam si beatus umquam fuisset, beatam vitam usque ad illum a Cyro
    extructum rogum pertulisset. Tum ille timide vel potius verecunde:
    Facio, inquit. Quis, quaeso, illum negat et bonum virum et comem et
    humanum fuisse? </p>

  <ul>
    <li>Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere.</li>
    <li>Qua tu etiam inprudens utebare non numquam.</li>
    <li>Cum autem in quo sapienter dicimus, id a primo rectissime dicitur.</li>
    <li>Illud urgueam, non intellegere eum quid sibi dicendum sit, cum dolorem summum malum esse dixerit.</li>
  </ul>

  <blockquote>Immo sit sane nihil melius, inquam-nondum enim id quaero-,
    num propterea idem voluptas est, quod, ut ita dicam,
    indolentia?

    Nam nec vir bonus ac iustus haberi debet qui, ne malum
    habeat, abstinet se ab iniuria.
  </blockquote>

  <p>Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. <i>Memini me adesse P.</i>
    <code>A mene tu?</code> Immo istud quidem, inquam, quo loco quidque, nisi iniquum postulo, arbitratu
    meo. <code>Ut optime, secundum naturam affectum esse possit.</code> At enim hic etiam dolore. Equidem
    etiam Epicurum, in physicis quidem, Democriteum puto.
  </p>

  <p>Quid iudicant sensus? <b>Si quicquam extra virtutem habeatur in bonis.</b>
    Et certamen honestum et disputatio splendida! omnis est enim de
    virtutis dignitate contentio. Videamus igitur sententias eorum, tum ad
    verba redeamus. Venit ad extremum; Haec bene dicuntur, nec ego repugno,
    sed inter sese ipsa pugnant. Praeteritis, inquit, gaudeo. Hoc est non
    modo cor non habere, sed ne palatum quidem. Id Sextilius factum negabat.</p>
</article>
<article>
  <h1>Stet clita kasd gubergren, no sea</h1>
  <p>
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est
    Lorem ipsum dolor sit amet.
  </p>

  <code><pre>
<span style="color: #557799">#include &lt;iostream&gt;</span>
<span style="color: #333399; font-weight: bold">int</span> <span style="color: #0066BB; font-weight: bold">main</span>() {
    <span style="color: #333399; font-weight: bold">int</span> a <span style="color: #666666">=</span> <span style="color: #0000DD; font-weight: bold">0</span>, b <span style="color: #666666">=</span> <span style="color: #0000DD; font-weight: bold">1</span>;
    <span style="color: #008800; font-weight: bold">for</span> (<span style="color: #333399; font-weight: bold">int</span> i <span style="color: #666666">=</span> <span style="color: #0000DD; font-weight: bold">0</span>; i <span style="color: #666666">&lt;</span> <span style="color: #0000DD; font-weight: bold">10</span>; <span style="color: #666666">++</span>i) {
        std<span style="color: #666666">::</span>cout <span style="color: #666666">&lt;&lt;</span> a <span style="color: #666666">&lt;&lt;</span> <span>&quot; &quot;</span>;
        <span style="color: #333399; font-weight: bold">int</span> temp <span style="color: #666666">=</span> a <span style="color: #666666">+</span> b;
        a <span style="color: #666666">=</span> b;
        b <span style="color: #666666">=</span> temp;
    }
    std<span style="color: #666666">::</span>cout <span style="color: #666666">&lt;&lt;</span> std<span style="color: #666666">::</span>endl;
    <span style="color: #008800; font-weight: bold">return</span> <span style="color: #0000DD; font-weight: bold">0</span>;
}</pre></code>
</article>
