@page

<h1>Atqui perspicuum est hominem e corpore animoque constare, cum primae sint animi partes, secundae corporis.</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. At modo dixeras nihil in istis rebus esse, quod interesset. Peccata paria. At quicum ioca seria, ut dicitur, quicum arcana, quicum occulta omnia? Eorum enim est haec querela, qui sibi cari sunt seseque diligunt. Nemo nostrum istius generis asotos iucunde putat vivere. Duo Reges: constructio interrete. </p>

<blockquote cite="http://loripsum.net">
	Ipse negat, ut ante dixi, luxuriosorum vitam reprehendendam, nisi plane fatui sint, id est nisi aut cupiant aut metuant.
</blockquote>


<p>Quorum sine causa fieri nihil putandum est. Praeteritis, inquit, gaudeo. <a href="http://loripsum.net/" target="_blank">Atqui reperies, inquit, in hoc quidem pertinacem;</a> Graccho, eius fere, aequalí? Sed ad haec, nisi molestum est, habeo quae velim. Nam si beatus umquam fuisset, beatam vitam usque ad illum a Cyro extructum rogum pertulisset. Tum ille timide vel potius verecunde: Facio, inquit. Quis, quaeso, illum negat et bonum virum et comem et humanum fuisse? </p>

<ul>
	<li>Tertium autem omnibus aut maximis rebus iis, quae secundum naturam sint, fruentem vivere.</li>
	<li>Qua tu etiam inprudens utebare non numquam.</li>
	<li>Cum autem in quo sapienter dicimus, id a primo rectissime dicitur.</li>
	<li>Illud urgueam, non intellegere eum quid sibi dicendum sit, cum dolorem summum malum esse dixerit.</li>
</ul>


<pre>Immo sit sane nihil melius, inquam-nondum enim id quaero-,
num propterea idem voluptas est, quod, ut ita dicam,
indolentia?

Nam nec vir bonus ac iustus haberi debet qui, ne malum
habeat, abstinet se ab iniuria.
</pre>


<p>Et hunc idem dico, inquieta sed ad virtutes et ad vitia nihil interesse. <a href="http://loripsum.net/" target="_blank">Quare ad ea primum, si videtur;</a> <i>Memini me adesse P.</i> <code>A mene tu?</code> Immo istud quidem, inquam, quo loco quidque, nisi iniquum postulo, arbitratu meo. <code>Ut optime, secundum naturam affectum esse possit.</code> At enim hic etiam dolore. Equidem etiam Epicurum, in physicis quidem, Democriteum puto. </p>

<p>Quid iudicant sensus? <b>Si quicquam extra virtutem habeatur in bonis.</b> Et certamen honestum et disputatio splendida! omnis est enim de virtutis dignitate contentio. Videamus igitur sententias eorum, tum ad verba redeamus. Venit ad extremum; Haec bene dicuntur, nec ego repugno, sed inter sese ipsa pugnant. Praeteritis, inquit, gaudeo. Hoc est non modo cor non habere, sed ne palatum quidem. Id Sextilius factum negabat. Audio equidem philosophi vocem, Epicure, sed quid tibi dicendum sit oblitus es. Poterat autem inpune; Poterat autem inpune; </p>

<p>Huic mori optimum esse propter desperationem sapientiae, illi propter spem vivere. <code>Aliter homines, aliter philosophos loqui putas oportere?</code> Quis enim confidit semper sibi illud stabile et firmum permansurum, quod fragile et caducum sit? Nam Metrodorum non puto ipsum professum, sed, cum appellaretur ab Epicuro, repudiare tantum beneficium noluisse; Haec quo modo conveniant, non sane intellego. Negat enim summo bono afferre incrementum diem. </p>

