@page
@model LoginModel

<article>
    @if (!User.Identity?.IsAuthenticated == true)
    {
        <h1>Weiter geht es nur mit Passwort.</h1>
        <form method="post">
            <fieldset>
                <label asp-for="Username"></label>
                <input type="text" asp-for="Username" placeholder="Username" autoComplete="username" />
                <label asp-for="Password"></label>
                <input type="password" asp-for="Password" placeholder="Password" autoComplete="current-password" />
                <label asp-for="AcceptTerms"><input asp-for="AcceptTerms" />Accept Cookies.</label>
                <button type="submit">Login</button>
            </fieldset>
        </form>
        @if (ModelState.ErrorCount > 0)
        {
            <p style="color:crimson;">@ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage</p>
        }
    }
    else
    {
        <h1>Welcome, @User.Identity?.Name! You are already authenticared.</h1>
    }
</article>