@page
@model WordleModel

<article>
<h1>Wordle</h1>
<p>You know the rules.</p>

<div class="grid">
    @foreach (var result in Model.Results)
    {
        <div class="cell" style="@(result.Color != null ? $"background-color: {result.Color};" : "")">@result.Letter</div>
    }
</div>

@if (ModelState.ErrorCount > 0)
{
    <p style="color:crimson; margin:0 auto; text-align: center;">@ModelState.Values.SelectMany(v => v.Errors).FirstOrDefault()?.ErrorMessage</p>
}

<form method="post">
    <fieldset>
    <input type="text" asp-for="Input" value="" placeholder="input" autofocus/>
    <button type="submit">Try!</button>
    </fieldset>
</form>
</article>